body {
  background-image: url("../public/images/friendster.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: auto;
}

.btn-primary, .btn-primary:hover, .card {
  background-color: #F5F5F5;
  color: black;
}